body {
    background-color: #ffffff;
    color: #3d3d3d;
    text-align: center;
}

h1 {
    font-size: 200%;
    padding: 1%;
    margin: 0;
}

h2 {
    font-size: 200%;
    padding: 1%;
    margin: 0;
}

p {
    font-size: 120%;
}

.image-main {
    max-height: 30%;
    max-width: 50%;
}

/* main style for the holding container(div) of the game area */
.main-area {
    background-color: #d6d6d6;
    border: 2px solid #000000;
    max-width: 65%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/* style for divs in the main game area, to give them equal space and style */
.bx-bo {
    max-height: 30%;
    padding: 1%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#question-heading-area>h2 {
    display: inline-block;
    font-size: 150%;
}

.answer-area {
    max-height: 30%;
    padding: 1%;
}

/* style for the answer buttons */
.answer-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    margin-top: .5%;
}

#correct-incorrect {
    font-size: 150%;
}

.score {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

#correct {
    color: #36a836;
}

#incorrect {
    color: #ca2727;
}

button {
    background-color: #b1b1b1;
    color: #3d3d3d;
    font-size: 140%;
    display: inline-block;
}

#player-input-button {
    font-size: 120%;
}

/* Style for mouse over only on laptops and up */
@media only screen and (min-width: 720px) {

    button:hover {
        background-color: #3d3d3d;
        color: #b1b1b1;
    }

}